<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async)? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <app-navbar-icon *ngFor="let route of routes"
        [name]="route.name"
        [matIcon]="route.icon"
        [routeName]="route.route"
        (onSelectedRoute)="onRouteSelect($event, drawer)">
      ></app-navbar-icon>
      <!-- <a mat-list-item (click)="onRouteSelect('quiz')">Load Quiz</a>
      <a mat-list-item (click)="onRouteSelect('about')">About</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary"> 
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

      
      <span class="title" [ngClass]="(isHandset$ | async) ? 'title-mobile' : 'title-desktop'" >powered by QIzz</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>