.checkboxes-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-div{
    margin-top:15px;
}

.card-content{
    margin-top: 10px;
    margin-top: 10px;
}

.check-button-mobile{

    width: 100%;
}