<h2>XML Quiz Template</h2>
<p>Editable content is <i>"true/false"</i> and <i>(Names)</i></p>
<pre class="code-format">
    &lt;quiz&gt;
        &lt;q&gt;
            &lt;qName&gt;(Question Name)&lt;/qName&gt;
            &lt;ans isCorrect="true/false"&gt;(Answer Name)&lt;/ans&gt;
            &lt;ans isCorrect="true/false"&gt;(Second Answer Name)&lt;/ans&gt;
        &lt;/q&gt;
        &lt;q&gt;
            &lt;qName&gt;(Second Question Name)&lt;/qName&gt;
            &lt;ans isCorrect="true/false"&gt;(Answer Name)&lt;/ans&gt;
            &lt;ans isCorrect="true/false"&gt;(Second Answer Name)&lt;/ans&gt;
        &lt;/q&gt;
    &lt;/quiz&gt;
</pre>
