
<div id="top-div">
</div>

@if(quizData === undefined){
    @if(isUncompressError){
        <div class="simple-flex">
            <h3>Quiz loading error</h3>
            <button mat-flat-button color="primary" [routerLink]="['/home']">
                Go Home
            </button>
        </div>

    } @else {
        <div class="simple-flex">
            <h3>Loading</h3>
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
    }
} 

@if(quizData && isResult === false){
    <app-quiz-card
        [quizData]="quizData"
        (onQuizEnded)="getQuizResults($event)"
    >

    </app-quiz-card>
}

@if(quizData && isResult){
    <div class="results-div">
    <h1>{{quizData.name}}</h1>
    <h2>{{calculatedScore.score}}/{{calculatedScore.maxScore}} ({{calculatedScore.percentage}}%)</h2>
    <div class="signature id-signature" matTooltip="Generated ID" matTooltipPosition="above">
        <span class="sig-label">ID: </span>
        <span>{{id}}</span>
        </div>
    <div class="signature quiz-signature" matTooltip="Quiz signature of validity" matTooltipPosition="above">
        <span class="sig-label">SIG-Q: </span>
        <span>{{quizSignature}}</span>
    </div>
    <div class="signature quiz-signature" matTooltip="Score signature of validity" matTooltipPosition="above">
        <span class="sig-label">SIG-S: </span>
        <span>{{quizScoreSignature}}</span>
    </div>
    <div class="result-buttons">
        <button mat-flat-button color="primary" (click)="onResetQuiz()">Try again</button>
        <button mat-flat-button color="accent" (click)="onShareScore()">Get Certificate</button>
    </div>
    @if(imageUrl.length > 0){
        <div class="verify-div">
            <button mat-stroked-button color="primary" (click)="onOpenVerify()">Copy link</button>
        <img [src]="imageUrl" alt="quiz result image" class="result-image">
        </div>
    }
</div>

@if(quizData.options?.showAnswers){
    <div class="quiz-answers">
    <h2>Answers:</h2>
    <app-quiz-card-answers
    [quizData]="quizData"
    [userAnswers]="quizUserAnswers!"
    >
    </app-quiz-card-answers>
    </div>
}

}


