
@if(quizData === undefined){
    @if(isUncompressError){
        <div class="simple-flex">
            <h3>Quiz loading error</h3>
            <button mat-flat-button color="primary" [routerLink]="['/home']">
                Go Home
            </button>
        </div>

    } @else {
        <div class="simple-flex">
            <h3>Loading</h3>
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
    }
} 

@if(quizData && isResult === false){
    <app-quiz-card
        [quizData]="quizData"
        (onQuizEnded)="getQuizResults($event)"
    >

    </app-quiz-card>
}

@if(quizData && isResult){
    <div class="results-div">
    <h1>{{quizData.name}}</h1>
    <h2>{{calculatedScore.score}}/{{calculatedScore.maxScore}} ({{calculatedScore.percentage}}%)</h2>
    <div class="quiz-signature" matTooltip="Signature of validity" matTooltipPosition="above">
        <span class="sig-label">SIG: </span>
        <span>{{quizSignature}}</span>
    </div>
    <div class="result-buttons">
        <button mat-flat-button color="primary" (click)="onResetQuiz()">Try again</button>
        <button mat-flat-button color="accent" (click)="onShareScore()">Share</button>
    </div>
</div>

}


