.simple-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.result-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quiz-signature {
    padding: 5px;
    border-radius: 2px;
    border: 2px solid rgb(219, 219, 219);
    width: fit-content;
    margin-bottom: 20px;
    animation: colorAnimation 8s linear infinite;
}

@keyframes colorAnimation {
    0% {
        background-color: rgb(255, 246, 226);
    }
    25% {
        background-color: rgb(234, 255, 248);
    }
    50% {
        background-color: rgb(226, 246, 255);
    }
    75% {
        background-color: rgb(226, 226, 255);
    }
    100% {
        background-color: rgb(255, 246, 226);
    }
}
.results-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sig-label{
    font-weight: 500;
}
