.simple-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.result-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quiz-signature{
    background-color: rgb(252, 250, 232);
}

.score-signature{
    background-color: rgb(231, 249, 250);
}

.signature {
    padding: 5px;
    border-radius: 2px;
    border: 2px solid rgb(219, 219, 219);
    width: fit-content;
    margin-bottom: 20px;
}

.id-signature{
    background-color: rgb(234, 234, 234);
}

.result-image{
    margin-top: 20px;
}

.results-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sig-label{
    font-weight: 500;
}


.verify-div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(219, 219, 219);
    padding: 20px;
}

.quiz-answers{
    margin-top: 10px;
}

.top-div{
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
}