.code-format{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px;
    color: black;
    overflow: scroll;
}

.github-buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}