<h2>Why QIzz?</h2>
<p>QIzz stands for Quiz Inteligence. It is build for creating quizes with GPTs suports.</p>
<h2>How it works?</h2>
<ol>
    <li>Go home</li>
    <li>Create a quiz. You can generate prompt for Chat-GPT or use quiz builder.</li>
    <li>Paste quiz template data (if you have)</li>
    <li>Load and check quiz</li>
    <li>Save quiz and share with others</li>
</ol>
<h2>Why URL is so long?</h2>
<p>URL is long because it contains all quiz data. <br/>You can share it with others and they will see the same quiz as you.
    <br/>You can also share pure compressed data and load it in 
    <a [routerLink]="['/load-quiz']">Load Quiz</a> page.</p>
<p>This app is front-only</p>
<div style="text-align: center; margin-top: 50px;">
    <span>
        2024 | Made by
    </span>
    <a href="https://github.com/BKopysc">{{"@BKopysc"}}</a>
</div>