.verified-icon{
    margin-right: 10px;
    color: green
}

.not-verified-icon{
    margin-right: 10px;
    color: red
}

.title{
    display: flex;
    display: row;
    align-items: center;
    margin-bottom: 10px;
}