
@if(isVerified){
    <app-quiz-verify-card
        [score]="score"
        [verifyResult]="isValid"
        (onClose)="onCloseCard()"
    ></app-quiz-verify-card>
}

<form class="input-form" [formGroup]="quizFormGroup">
    <div class="inputs">
        <mat-form-field> 
            <mat-label>Enter ID</mat-label>
            <input matInput placeholder="..." type="number" formControlName="idCtrl"/>
        </mat-form-field>
        <mat-form-field> 
            <mat-label>Enter SIG-Q</mat-label>
            <input matInput placeholder="..." type="number" formControlName="quizSignatureCtrl"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter SIG-S</mat-label>
            <input matInput placeholder="..." type="number" formControlName="scoreSignatureCtrl" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter score</mat-label>
            <input matInput placeholder="..." type="number" formControlName="scoreCtrl"/>
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" class="load-button" (click)="onVerifyScore()">
        <mat-icon>published_with_changes</mat-icon>
        <span>Verify</span>
    </button>
</form>