.title-div{
    text-align: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-mw-300{
    max-width: 300px;
}

.form-mw-500{
    max-width: 500px;
}
