<div class="title-div">
    <h1 class="title">QIzz</h1>
    <div class="title-icons-wrapper">
        <div class="title-icons">
            <div class="title-icon-span">
                <mat-icon fontIcon="smart_toy"></mat-icon>
                <span>AI Prompts</span>
            </div>
            <div class="title-icon-span">
                <mat-icon fontIcon="token"></mat-icon>
                <span>Anonymous</span>
            </div>
            <div class="title-icon-span">
                <mat-icon>bolt</mat-icon>
                <span>Fast</span>
            </div>
            <div class="title-icon-span">
                <mat-icon>lock</mat-icon>
                <span>Secure</span>
            </div>
    </div>
   
    </div>

</div>

<div class="description-div">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="quizInfoFormGroup">
            <form [formGroup]="quizInfoFormGroup">
                <ng-template matStepLabel>Quiz Info</ng-template>
                <div class="form-section form-mw-300">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Quiz about AI" formControlName="titleCtrl" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Check your knowladge!" formControlName="descriptionCtrl" required>
                    </mat-form-field>
                </div>
                <div class="step-button-div mt-30">
                    <button mat-stroked-button (click)="useAiButtonClick(); stepper.next()">Use AI</button>
                    <button mat-stroked-button (click)="useEditorButtonClick(); stepper.next()">Use Editor</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="aiGeneratedFormGroup" *ngIf="isUseAi">
            <p>This step is optional</p>
            <form [formGroup]="aiGeneratedFormGroup">
                <ng-template matStepLabel>Generate with AI (optional)</ng-template>
                <div class="form-section mb-20">
                    <mat-form-field class="form-mw-500 form-minh-200">
                        <mat-label>Main subject</mat-label>
                        <textarea matInput placeholder="AI tech in 2024" formControlName="mainSubjectCtrl">
                        </textarea>
                    </mat-form-field>
                    <mat-form-field class="form-mw-200">
                        <mat-label>Language</mat-label>
                        <input matInput placeholder="polski" formControlName="languageCtrl">
                    </mat-form-field>
                    <mat-form-field class="form-mw-200">
                        <mat-label>Num of questions</mat-label>
                        <input matInput type="number" placeholder="10" formControlName="numOfQuestionsCtrl">
                    </mat-form-field>
                    <mat-form-field class="form-mw-200">
                        <mat-label>Difficulty</mat-label>
                        <mat-select formControlName="difficultyCtrl">
                            @for (difLevel of difficultyLevels; track difLevel) {
                            <mat-option [value]="difLevel.value">{{difLevel.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                </div>

                <button mat-flat-button color="primary" (click)="onGenerateQuiz()">Generate prompt</button>

                <div class="form-section form-gap-10 mt-30 mb-40" *ngIf="isGenerated">
                    <p class="result-info">Result (copy it to Chat-GPT, Bing Copilot or other LLM)</p>

                    <textarea class="form-mw-500 form-minh-200" [value]="textAreaResult" disabled></textarea>

                    <button mat-flat-button color="accent" class="form-mw-auto"
                        (click)="onCopyGenerated()">Copy</button>
                </div>
                <div class="step-button-div mt-30">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="loadTemplateFormGroup">
            <ng-template matStepLabel>Load from generated data (optional)</ng-template>
            <p class="xml-note">Note: template is in XML format, you can use it to write your data.</p>
            <p class="gpt-note" *ngIf="isUseAi">You can past here result from Chat-GPT</p>
            <form [formGroup]="loadTemplateFormGroup">
                <div class="form-section mb-20">
                    <mat-form-field class="form-mw-500">
                        <mat-label>Paste quiz data</mat-label>
                        <textarea matInput placeholder='<quiz><q><ans>' formControlName="templateCtrl" class="form-minh-200">
                        </textarea>
                    </mat-form-field>
                </div>
            </form>
            @if(isLoadedFromTemplateError){
                <p style="color:brown">Data is invalid</p>
            }
            <button mat-button mat-stroked-button color="warn" (click)="onClearTemplateTextarea()">Clear</button>
            <div class="step-button-div mt-30">
                <button mat-stroked-button matStepperPrevious>Back</button>
                <button mat-stroked-button (click)="loadFromTemplate(stepper)">Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Quiz editor</ng-template>
            <p>You can custom your Quiz</p>

            <ng-template matStepContent>
                <app-quiz-create-card [title]="quizInfoFormGroup.value.titleCtrl! || 'title'"
                    [description]="quizInfoFormGroup.value.descriptionCtrl! || 'description'"
                    [quizContent]="loadedQuiz!"
                    [parentSubject]="eventsSubject"
                    (getQuizContent)="onRecieveQuizContent($event)"
                    >
                </app-quiz-create-card>

                <div class="step-button-div mt-30">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-flat-button matStepperNext color="primary" (click)="onSaveData(stepper)">Save</button>
                </div>
            </ng-template>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            @if(compressedQuizContent.length === 0){
                <p>Quiz is not saved yet</p>
                <mat-progress-bar mode="query"></mat-progress-bar>
                <button mat-stroked-button matStepperPrevious>Back</button>
            } @else {
                <p>Quiz Data:</p>
                <textarea disabled style="max-width: 500px; height:150px; width: 100%;" [value]="compressedQuizContent"></textarea>
                <div class="step-button-div mt-30">
                    <button mat-stroked-button (click)="onCopyLink()">Copy link</button>
                    <button mat-stroked-button (click)="onCopyData()">Copy data</button>
                </div>
                <div class="step-button-div mt-30">
                    <a mat-flat-button color="primary" href="/quiz/{{compressedQuizContent}}" target="_blank">View</a>
                    <button mat-flat-button color="accent" (click)="onReset()">Start over</button>
                </div>
            }
          

        </mat-step>
    </mat-stepper>
</div>