.title-div{
    text-align: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title-icons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-icons{
    color: rgba(131, 111, 194, 0.911);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.title-icon-span{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.form-mw-300{
    max-width: 300px;
}

.form-mw-200{
    max-width: 200px;
}

.form-mw-500{
    max-width: 500px;
}

.form-mw-auto{
    max-width: fit-content;
}

.form-minh-200{
    min-height: 200px;
}

.form-gap-10{
    gap: 10px;
}

.result-info{
    font-weight: 500;
}

.mt-30{
    margin-top: 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.step-button-div{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 10px;
}

.xml-note{
    font-style: normal;
    font-weight: 300;
}

.gpt-note{
    color: rgb(58, 39, 167)
}